<h2 class='jumbotron text-center'>
  {{title}} 
</h2>
 

    <app-form (form_e)='formSubmited($event)' (reset_e)='onReset($event)'></app-form>
    
    <hr>
    
    <app-progress [median_array_length]='array_length' [percentage_calc]='percentage_calc'></app-progress>
    
    <hr>
    
    <app-median [median_val]='median_val' (getMedian_e)='getMedian($event)'></app-median>
    
    <hr>
     
    <div class='container text-center'>
    <p>developer name: Tapan Mahapatra </p>
    </div>
    
    <a href="jasmine-test-runner.html"> </a>
  
 
